<app-header></app-header>
<div class="container text-center">
    
    <div class="row">
      <div class="col-8">
        
        
        @if (files!=null) {
          <div class="container text-center">
            <div class="row row-cols-3">
              @for (file of files; track $index) {
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{file.name }}</h5>
                    <p class="card-text">{{file.size | toKb:"kb"}}</p>
                    <button class="btn btn-primary" (click)="download(file.id,file.name)">download</button>
                  </div>
                </div>
              }@empty {
                <div class="d-flex container">
                  <div class="spinner-border container" role="status">
                    <span class="sr-only"></span>
                  </div>
                  <p>Loading ... </p>
                </div>
              }
            </div>
          </div>
          
        }@else {
          <h4>No file for this course</h4>
          <button type="button" (click)="refresh()" class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
          </svg> Refresh</button>
          
        }
      </div>
      <div class="col-4">
        this div is for uploading files
        <app-upload-file [currentCourse]="courseId"></app-upload-file>
      </div>
      
      
    </div>
  </div>