
.material-symbols-outlined {
    font-size: 4vw;
    
    margin-right: 1vw;
  font-variation-settings:
  'FILL' 0,
  'wght' 7000,
  'GRAD' 10,
  'opsz' 48
}
.logo{
    font-weight: 550;
    font-size: 2vw;
}
.header{
  border-bottom:0.3vh black solid ;
}